[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "cutlass"]
	path = cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "gperftools"]
	path = gperftools
	url = https://github.com/gperftools/gperftools.git
